@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.gold {
	color: #FFBF00;
}

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid {
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}

.service1-item {
	height: 107px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.service1-item>img {
	max-height: 110px;
	max-width: 110px;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.service1-item>img:hover {
	cursor: pointer;
	opacity: 1;
}

.service-image-left {
	padding-right: 50px;
}

.service-image-right {
	padding-left: 50px;
}

.service-image-left>center>img,
.service-image-right>center>img {
	max-height: 300px;
}

/*navbar*/
.dropdown-menu a {
	color: black;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/*homepage*/
.list-group a {
	color: black;
	border: 1px solid black;
}

.guitar_shop h1 {
	text-align: center;
	margin: 3rem;
	margin-top: 5rem;
	margin-bottom: 30rem;
}

.guitar_shop .card {
	margin: 1rem;
	border: none;
}


.guitar_shop .card img {
	max-width: 170px;
}

/*about_us page*/
.about_us {
	margin: 2rem;
}

.about_us img {
	width: 100%;
	margin-bottom: 1rem
}

/*cart page*/
.guitar_cart .card {
	margin: 2rem 2rem;
	padding: 10px;
	border: 1px solid black;
}

.guitar_cart .card-image {
	margin: 0 auto;
}

.guitar_cart img {
	width: 5rem;
}

.guitar_cart .card-content {
	margin: 0 auto;
}

.guitar_cart .apply_btn {
	position: relative;
	top: -8px;
}

.guitar_cart .remove_btn {
	width: 80%;
	margin: 0 auto;
}

.guitar_cart .checkout_btn a {
	width: 100%;
	margin-bottom: 4rem;
}

.total_price {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 5px;
}

/*empty cart*/
.empty_cart h2 {
	margin: 0 auto;
	margin-top: 10rem;
}

.empty_img img {
	width: 12rem;
	margin: 0 auto;
	margin-bottom: 15rem;
}

/*place order page*/
.place_order {
	width: 80%;
	height: 700px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 2rem auto;
	padding: 30px;
}

.place_order a {
	width: 100%;
}

/*Signup page*/
.signup_form {
	width: 80%;
	height: 800px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 8rem auto;
	padding: 30px;
}

.signup_form .signup_btn {
	width: 100%;
}

/*profile page*/
.profile {
	width: 80%;
	height: 300px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 8rem auto;
	padding: 30px;
}

.profile img {
	width: 50%;
}

.profile {
	text-align-last: center;
}

.logout {
	width: 80%;
	height: 400px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 8rem auto;
	padding: 30px;
}

.logout img {
	width: 100%;
}

/*login page*/
.login_form {
	width: 80%;
	height: 400px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 8rem auto;
	padding: 30px;
}

.login_form .login_btn {
	width: 100%;
	margin: 1rem auto;
}

/*forget password page*/
.password_reset_form {
	width: 80%;
	height: 400px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 8rem auto;
	padding: 30px;
}

.password_reset_form input {
	border: 1px solid black;
	width: 100%;
}

.password_reset_form .password_reset_btn {
	margin: 1rem auto;
	border: none;
}

/*password reset done page*/
.password_reset_done {
	margin: 2rem;
	margin-top: 5rem;
	margin-bottom: 25rem;
}

/*sell guitar page*/
.sellguitar img {
	width: 100%;
	/*margin-top: 2rem;*/
}

.sellguitar_form {
	width: 80%;
	height: 950px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 2rem auto;
	padding: 30px;
}

.sellguitar_form .submit_btn {
	width: 100%;
}

.sell_cond {
	text-align: center;
	margin: 2rem;
	margin-bottom: 3rem;
}

/*update guitar page*/
.update_guitars {
	width: 80%;
	height: 1050px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 2rem auto;
	padding: 30px;
}

.update_guitars .submit_btn {
	width: 100%;
}

/*confirm delete guitar page */
.confirm_delete {
	width: 80%;
	height: 1050px;
	border: 2px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 8px grey;
	margin: 2rem auto;
	padding: 30px;
}

@media (min-width: 320px) and (max-width: 575px) {
	.navbar input {
		width: 80%;
	}
	.navbar .search_button {
		margin-left: 5px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.guitar_shop .card img {
		margin-left: 3.5rem;
	}
}

@media (min-width: 576px) {
	.guitar_cart .apply_btn {
		top: 0;
	}
	.guitar_cart .remove_btn {
		margin-top: 1rem !important;
	}
}

@media (min-width: 768px) {
	.guitar_shop .card {
		margin: 4rem;
	}

	.guitar_shop h1 {
		margin-bottom: 45rem;
	}

	.about_us {
		margin: 4rem;
	}

	.profile {
		width: 50%;
		height: 600px;
	}

	.logout {
		width: 50%;
		height: 600px;
	}

	.login_form {
		width: 50%;
		height: 900px;
	}

	.password_reset_form {
		width: 50%;
		height: 900px;
	}

	.password_reset_done {
		margin-bottom: 40rem;
	}

	.empty_img img {
		margin-bottom: 30rem;
	}

}

@media (min-width: 1024px) {
	.about_us {
		margin: 6rem;
	}

	.profile {
		width: 50%;
		height: 1000px;
	}

	.logout {
		width: 50%;
		height: 800px;
	}

	.password_reset_done {
		margin-bottom: 65rem;
	}

	.guitar_shop h1 {
		margin-bottom: 68rem;
	}

	.sellguitar .sell_img {
		text-align: center;
		margin: 1rem auto;
	}

	.sellguitar img {
		width: 50%;
	}

	.sellguitar_form {
		width: 60%;
	}

	.update_guitars {
		height: 1150px;
	}

	.confirm_delete {
		height: 1150px;
	}

	.signup_form {
		width: 80%;
		height: 950px;
	}

	.empty_img img {
		margin-bottom: 49rem;
	}

}

@media (min-width: 2000px) {
	.guitar_shop .card img {
		margin-left: 8rem;
	}
	.logout {
		height: 1100px;
	}
}
