{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<h1>Show Guitars</h1>
<form method='GET'>
	{{ search_form|crispy}}
	<input type='submit' value='Search' />
</form>

<div class="container-fluid">
	{% for guitar in all_guitars %} {% empty %}
	<h1>No results</h1>
	{% endfor %} {% for guitar in all_guitars %}
	<div class="content-wrapper">
		<div class="item-container">
			<div class="container">
				<div class="col-md-12">
					<div class="product col-md-3 service-image-left">
						<center>
							{%if guitar.image %}
							<img id="item-display" src="{{guitar.image.cdn_url}}" alt=""></img>
							{%endif%}
						</center>
					</div>
				</div>
				<div class="col-md-7">
					<div class="product-title">{{guitar.brand}}</div>
					<div class="product-desc">{{guitar.model}}</div>
					<div class="product-desc">{{guitar.color}}</div>
					<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
					<hr>
					<div class="product-price">${{guitar.cost}}</div>
					<div class="product-stock">In Stock</div>
					<hr>
					<div class="btn-group cart">
						<a href="{% url 'add_to_cart' guitar_id=guitar.id %}" class="btn btn-success">Add to Cart</a>
						<a href="{% url 'update_guitar' guitar_id=guitar.id %}" class="btn btn-primary">Edit</a>
					</div>
					<div class="btn-group wishlist">
						<a href="{% url 'confirm_delete_guitar' guitar_id=guitar.id %}" class="btn btn-danger">Delete</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="col-md-12 product-info">
				<ul id="myTab" class="nav nav-tabs nav_tabs">
					<li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
				</ul>
				<div class="guitar_desc">
					<p>{{guitar.desc}}</p>
				</div>
				<hr>
			</div>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock %}
