{% extends "base.html" %} {% block content %}

<h1>Show Guitars</h1>

<ul>
    {% for guitar in all_guitars %}
        {%if guitar.image %}
        <img src="{{guitar.image.cdn_url}}"/>
        {%endif%}
    
    <li>{{guitar.brand}} made in {{guitar.prod_year}}
    <br>
    Price:SGD${{guitar.cost}}</li>
    <a href="{% url 'update_guitar' guitar_id=guitar.id %}">Edit</a>
    <a href="{% url 'confirm_delete_guitar' guitar_id=guitar.id %}">Delete</a>
    <a href="{% url 'add_to_cart' guitar_id=guitar.id %}">Add to Cart</a>
    <br>
    <br>
    {% endfor %}
</ul>


{% endblock %}
