{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}
<h1>Show Guitars</h1>
 <form method='GET'>
        {{ search_form|crispy}}
        <input type='submit' value='Search'/>
    </form>

<ul>
    {% for guitar in all_guitars %}
        {%if guitar.image %}
        <img src="{{guitar.image.cdn_url}}"/>
        {%endif%}
    
    <li>{{guitar.brand}}</li>
    <li>{{guitar.model}}</li>
    <li>{{guitar.color}}</li>
    <li>Price: SGD${{guitar.cost}}</li>
    <li>Stock Left: {{guitar.stockrem}}</li>
    <a href="{% url 'add_to_cart' guitar_id=guitar.id %}">Add to Cart</a><br>
    <a href="{% url 'update_guitar' guitar_id=guitar.id %}">Edit</a><br>
    <a href="{% url 'confirm_delete_guitar' guitar_id=guitar.id %}">Delete</a><br>
    {% endfor %}
</ul>


{% endblock %}
