{% extends 'base.html' %} 

{% load static %}

{%block content %}

<div class="cart">
  <div class="guitar_cart">
        {%for id,guitar in shopping_cart.items  %} 
    {% empty %}
    <div class="row empty_cart">
        <h2>Your Cart is empty</h2>
    </div>
    <div class="row empty_img">
        <img src="{% static 'images/empty_cart.png' %}" id="empty_img" alt="Empty shopping cart" />
    </div>    
    {% endfor %}
    <div class="row">
      {%for id,guitar in shopping_cart.items %}
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-image">
            <img src="{{guitar.image_url}}">
          </div>
          <div class="card-content">
            <p>{{guitar.brand}}</p>
            <p>${{guitar.cost|floatformat:2}}</p>
            <form class="form-inline" method="post" action="{% url 'adjust_cart' guitar_id=guitar.id %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                <div class="input-group">
                  <div class="input-group-addon cart_div">Quantity:&nbsp&nbsp&nbsp</div>
                  <input name="quantity" type="number" min="1" max="10" class="form-control" id="input_width" value="{{guitar.quantity}}">
                </div>
              </div>
              <button type="submit" class="btn btn-primary ml-2 apply_btn" id="cart_btn_primary_id"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp; Apply</button>
            </form>
          </div>
          
          <div class="row">
            <a href="{% url 'remove_from_cart' guitar_id=guitar.id %}" class="btn btn-danger mt-1 remove_btn">Remove from Cart</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <div class="total_price">
      <!--<p>Total Price: $total_price|floatformat:2</p>-->
    </div>
    <div class="checkout_btn">
      <a href="{% url 'place_order' %}" class="btn btn-success">PLACE ORDER</a> 
  {% endblock %}
  </div>
  </div>
